<literal><!--[if IE]><script language="javascript" type="text/javascript" src="%PUBURL%/%SYSTEMWEB%/FlotChartPlugin/excanvas.min.js"></script><![endif]--></literal>
<script language="javascript" type="text/javascript" src="%PUBURL%/%SYSTEMWEB%/FlotChartPlugin/jquery.flot.min.js"></script>
