<!--[if IE]><script language="javascript" type="text/javascript" src="%PUBURL%/%SYSTEMWEB%/FlotChartPlugin/excanvas.min.js"></script><![endif]-->
%TMPL:DEF{"jquery"}%<script language="javascript" type="text/javascript" src="%PUBURL%/%SYSTEMWEB%/FlotChartPlugin/jquery.min.js"></script>%TMPL:END%
%TMPL:P{context="JQueryPluginEnabled" else="jquery"}%
<script language="javascript" type="text/javascript" src="%PUBURL%/%SYSTEMWEB%/FlotChartPlugin/jquery.flot.min.js"></script>
